ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: block;
    float: left;
}

.navbar a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.navbar a:hover {
    padding: 10px;
    background-color: #232463;
    color: #FFFFFF;
}

.navbar button {
    list-style-type: none;
    margin: 0px;
    border: none;
    display: block;
    background-color: #dddddd;
    display: block;
    float: left;
    padding: 10px;
}

button:hover {
    padding: 10px;
    background-color: #232463;
    color: #FFFFFF;
}

* {
    background-color:beige;
}

img {
    position: relative;
}